@import url("https://fonts.googleapis.com/css?family=Jost:400,700,500,600|Playfair+Display:600");

$bs-body-bg: #faf7ef;
$bs-body-color: #255849;
$font-family-sans-serif: "Jost", Helvetica;

@import "../bootstrap/scss/bootstrap.scss";

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}