@import url("https://fonts.googleapis.com/css?family=Jost:400,700,500,600|Playfair+Display:600");

$body-bg: #faf7ef !important;
$body-color: #255849 !important;
$font-family-sans-serif: "Jost", Helvetica !important;
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2 !important;
}

@import "../bootstrap/scss/bootstrap.scss";

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}