/* screen - about */

.about {
  align-items: flex-start;
  background-color: var(--plantation);
  border: 1px none;
  display: flex;
  width: 1600px;
}

.about .frame-container {
  align-items: flex-start;
  background-image: url(../img/image-10.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 84px;
  height: 1200px;
  min-width: 1600px;
  padding: 37px 56px;
}

.about .frame-1 {
  align-items: center;
  display: flex;
  gap: 4px;
  margin-top: 4px;
  position: relative;
  width: fit-content;
}

.about .star-1 {
  height: 24px;
  min-width: 23.4px;
  position: relative;
}

.about .hack-beanpot {
  color: var(--plantation);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about .frame-7 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: fit-content;
}

.about .title {
  color: var(--plantation);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 108.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 957px;
}

.about .food-deserts-are-are {
  letter-spacing: 0;
  line-height: 42.0px;
  position: relative;
  text-align: center;
  width: 669px;
}

.about .span-1 {
  color: var(--plantation);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-l);
  font-weight: 700;
  line-height: 47.6px;
}
/* screen - data-mapping */

.data-mapping {
  background-color: var(--plantation);
  border: 1px none;
  cursor: pointer;
  display: flex;
  height: 100vh;
  min-height: 1200px;
  min-width: 1600px;
  width: 100%;
}

.data-mapping .frame-7-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 234px;
  margin-left: 321px;
  margin-top: 56px;
  position: relative;
  width: 957px;
}

.data-mapping .title-1 {
  color: var(--spring-wood);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 108.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 957px;
}

.data-mapping .we-have-chosen-to-re {
  letter-spacing: 0;
  line-height: 33.6px;
  position: relative;
  text-align: center;
  width: 833px;
}

.data-mapping .span-3 {
  color: var(--white);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-s);
  font-weight: 500;
}
/* screen - full-project */

.full-project {
  align-items: center;
  background-color: var(--spring-wood);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1124px;
  width: 1440px;
}

.full-project .frame-4 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 32px 48px;
  position: relative;
  width: 1440px;
}

.full-project .frame-1-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.full-project .star-1-1 {
  height: 24px;
  min-width: 23.4px;
  position: relative;
}

.full-project .hack-beanpot-1 {
  color: var(--plantation);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.full-project .navbar {
  align-items: flex-start;
  display: flex;
  gap: 72px;
  position: relative;
  width: fit-content;
}

.full-project .navbar-link-place {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.full-project .navbar-link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.full-project .frame-3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 118px;
}

.full-project .line-1 {
  margin-top: -2.00px;
  min-width: 40px;
}

.full-project .line-2 {
  min-width: 24px;
}

.full-project .frame-7-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 3.0px;
  margin-top: 22px;
  position: relative;
  width: fit-content;
}

.full-project .title-2 {
  color: var(--plantation);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 108.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 957px;
}

.full-project .feed-the-desert-is-a {
  color: var(--plantation);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33.6px;
  position: relative;
  text-align: center;
  width: 833px;
}

.full-project .frame-6 {
  align-items: flex-start;
  background-color: var(--plantation);
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 16px 32px;
  position: relative;
  width: fit-content;
}

.full-project .take-a-look-at-our-graph {
  color: var(--white);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-xs);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.full-project .frame-22 {
  align-items: flex-start;
  display: flex;
  min-width: 1440px;
}

.full-project .overlap-group {
  height: 518px;
  position: relative;
  width: 1443px;
}

.full-project .frame-5::-webkit-scrollbar {
  display: none;
  width: 0;
}

.full-project .frame-5 {
  align-items: center;
  display: flex;
  gap: 32px;
  left: 0;
  overflow-x: scroll;
  position: absolute;
  top: 58px;
  width: 1440px;
}

.full-project .rectangle {
  height: 400px;
  min-width: 340px;
  object-fit: cover;
  position: relative;
}

.full-project .ellipse-1 {
  top: 0;
}

.full-project .ellipse-2 {
  top: 397px;
}

.full-project .ellipse {
  background-color: var(--spring-wood);
  border-radius: 721.5px/60.5px;
  height: 121px;
  left: 0;
  position: absolute;
  width: 1443px;
}

.full-project .line {
  height: 2px;
  position: relative;
}

.full-project .rectangle-1 {
  height: 400px;
  min-width: 340px;
  object-fit: cover;
  position: relative;
}
/* screen - learn-more */

.learn-more {
  background-color: var(--plantation);
  border: 1px none;
  height: 1200px;
  width: 1600px;
}

#map { height: 180px; }