/* :root { 
  --black: #000000;
  --plantation: #255849;
  --spring-wood: #faf7ef;
  --white: #ffffff;
 
  --font-size-l: 34px;
  --font-size-m: 30px;
  --font-size-s: 24px;
  --font-size-xl: 90px;
  --font-size-xs: 20px;
 
  --font-family-jost: "Jost", Helvetica;
  --font-family-playfair_display: "Playfair Display", Helvetica;
}
.jost-normal-plantation-30px {
  color: var(--plantation);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.jost-semi-bold-plantation-30px {
  color: var(--plantation);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.jost-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.jost-medium-plantation-24px {
  color: var(--plantation);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.jost-medium-plantation-30px {
  color: var(--plantation);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
} */
