@import url("https://fonts.googleapis.com/css?family=Lato:700|Playfair+Display:600|Jost:400,700,500,600");

.homepage {
    align-items: center;
    background-color: var(--spring-wood);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1124px;
    width: 1440px;
}

.hidden, .hidden * {
    pointer-events: none;
    visibility: hidden;
}

.frame-4 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 32px 48px;
    position: relative;
    width: 1440px;
}

.homepage .navbar-1 {
    position: relative;
    width: fit-content;
}

.navbar {
    align-items: flex-start;
    display: flex;
    gap: 72px;
}

.navbar-link {
    cursor: pointer;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    white-space: nowrap;
}

.navbar-link-place {
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.frame-1-1 {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 4px;
    position: relative;
    width: fit-content;
}

.star-1-1 {
    height: 24px;
    min-width: 23.4px;
    position: relative;
}

.hack-beanpot-1 {
    letter-spacing: 0.48px;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.frame-3 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 118px;
}

.line-2 {
    min-width: 24px;
}

.homepage.line {
    height: 2px;
    position: relative;
}

.line-1 {
    margin-top: -2px;
    min-width: 40px;
}

.frame-7-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 3px;
    margin-top: 22px;
    position: relative;
    width: fit-content;
}

.title-2 {
    letter-spacing: 0;
    line-height: 100px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 957px;
}

.frame-6 {
    align-items: flex-start;
    background-color: var(--plantation);
    border-radius: 40px;
    cursor: poitner;
    display: flex;
    gap: 10px;
    padding: 16px 32px;
    position: relative;
    width: fit-content;
}

.take-a-look-at-our-graph {
    color: var(--white);
    font-family: var(--font-family-jost);
    font-size: var(--font-size-xs);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.feed-the-desert-is-a {
    color: var(--plantation);
    font-family: var(--font-family-jost);
    font-size: var(--font-size-s);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 33.6px;
    position: relative;
    text-align: center;
    width: 833px;
}

.frame-22 {
    align-items: flex-start;
    display: flex;
    min-width: 1440px;
}

.overlap-group {
    height: 518px;
    position: relative;
    width: 1443px;
}

.ellipse-1 {
    top: 0;
}

.homepage .ellipse {
    background-color: var(--spring-wood);
    border-radius: 721.5px/60.5px;
    height: 121px;
    left: 0;
    position: absolute;
    width: 1443px;
}

.ellipse-2 {
    top: 397px;
}

.frame-5::-webkit-scrollbar {
    display: none;
    width: 0;
}

.frame-5 {
    align-items: center;
    display: flex;
    gap: 32px;
    left: 0;
    overflow-x: scroll;
    position: absolute;
    top: 58px;
    width: 1440px;
}

.homepage .rectangle-1 {
    height: 400px;
    min-width: 340px;
    object-fit: cover;
    position: relative;
}

.rectangle-2 {
    margin-right: -16px;
    mix-blend-mode: difference;
}